<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'GroundZero/images/logo1.png' %}"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'GroundZero/css/styles.css ' %}">
    <link href="{% static 'GroundZero/css/styles.css ' %}" type="text/css" rel="stylesheet">
    <title>Ground Zero</title>
</head>
<body>
    <br>
    <br>
    <a href="{% url 'home' %}">
        <img  src ="{% static 'GroundZero/images/logo.png' %}" width="350px"  height= "85" ></a>
        <br>
    <br>
    <br>
  <nav class="menu-fixed">
   <ul class="menu ">
    <br>
    <li><a href="{% url 'home' %}" class="btns">Inicio</a></li>
    <li><a href="#" class="btns">Galeria</a></li>
    <li><a href="#" class="btns">Nosotros</a></li>
    <li><a href="{% url 'crear' %}" class="btns">Proveedor</a></li>
    <li><a href="{% url 'ver' %}" class="btns">Listado</a></li>
    <br><br>
   </ul></nav>
   <br><br> <br><br> <br><br> <br><br> <br><br>
    <div class="contenedorTodoMASC">
        <div class="cajaTraseraMASC">
            <div class="cajaTraseraLogin">
            <h3>Modificar Mascota</h3>
            <p>Aqui podra modificar la mascota ingresada para arreglar problemas :D</p>
            
        </div>
    </div>
  
        <div class="Contenedor-Login-RegisterMASC">
         <form action="" method="POST" class="Formulario-RegisterMASC"   enctype="multipart/form-data">
              {% csrf_token %}
              {{ form.as_p }}
              <div class="d-flex justify-content-end">
                <input type="reset" value="Cancelar" class="btn btn-secondary">
                <input type="submit" value="Modificar" class="btn btn-primary">
              </div>
              </form>
            </div>
        </div>
</body>
</html>